body, html {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

video {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 47%;
  bottom: 130%;
  width: auto;
  height: calc(.5000 * 80vw);
  border:10px #8c8c8c;
  border-style: outset;
  margin: 50px;
}

.bg {
  /* The image used */
  background-image: url("grain2.jpg");

  /* Full height */
  height: 100%;
  width: 100%;
  margin: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}